.main {
  margin-left: 20px;
  margin-top: 15px;
}

.goBottomRight {
  position: absolute;
  bottom: 16px;
  left: 16px;
}

.title {
  width: 100%;
  font-size: 26px;
  font-family: "HelveticaNeue-Thin";
}

.paragraphText {
  font-size: 14px;
}

.button {
  width: 100px;
  height: 40px;
  border: none;
  font-size: 18px;
  font-family: "HelveticaNeue-Thin";
  color: #2196f3;
  background-color: #ffffff;
  text-align: start;
}

.button:hover {
  border: solid #4db6ac 1px;
  border-radius: 15px;
  background-color: #4db6ac;
  color: rgb(73, 73, 73);
  text-align: center;
}
