
.main {
    margin-left: 20px;
    margin-top: 15px;
}

.goBottomRight {
    position: absolute;
    bottom: 8px;
    right: 16px;
    font-size: 18px;
}

.title {
    text-align: center;
    width: 100%;
    font-size: x-large;
}

.paragraphText {
    font-size: large;
}

